<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Comments.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Comments.Properties.Settings>
            <setting name="CommentLogLocation" serializeAs="String">
                <value>C:\CommentLogs</value>
            </setting>
            <setting name="positionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="positionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="textEditor" serializeAs="String">
                <value>Notepad++.exe</value>
            </setting>
            <setting name="reminderMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="reminderText" serializeAs="String">
                <value>Don't forget to log your time.\nDon't forget to stretch.</value>
            </setting>
            <setting name="displayPreviousLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logApplicationStartAndStop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reminderEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </Comments.Properties.Settings>
    </userSettings>
</configuration>